{% extends 'base.html' %}
{% block title %}Edit Post{% endblock %}
{% block content %}
<h1>Edit Post</h1>
<form action="/posts/{{post.id}}/edit" method="post">
    <label for="title">Title: </label>
    <input type="text" name="title" id="title" value="{{post.title}}">
    <label for="content">Content: </label>
    <input type="text" name="content" id="content" value="{{post.content}}">

    {% for tag in tags %}
      <input type='checkbox' value='{{ tag.id }}' id='tag_{{ tag.id }}' name='tags'>
      <label for='tag_{{ tag.id }}'>{{ tag.name }}</label>
    {% endfor %}

    <a href="/users/{{post.user.id}}">CANCEL</a>
    <button type="submit">EDIT</button>
</form>
<p><a href="/users">All Users</a></p>
{% endblock %}