{% extends 'base.html' %}
{% block title %}Edit Tag{% endblock %}
{% block content %}
<h1>Edit Tag</h1>

<form method="POST" action="/tags/{{tag.id}}/edit">
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" value="{{tag.name}}">

    {% for post in posts %}
    <div style="display: block">
    <input type="checkbox" value="{{post.id}}" id="post_{{post.id}}" name="posts"
    {% if post in tag.posts %}
    checked
    {% endif %}
    >
    <label for="post_{{post.id}}">{{post.title}}</label>
    </div>
    {% endfor %}

    <a href="/tags" class="btn btn-outline-danger">CANCEL</a>
    <button type="submit" class="btn btn-outline-info">EDIT</button>

</form>
{% endblock %}