{% extends 'base.html' %}
{% block title %}Add New Tag{% endblock %}
{% block content %}
<h1>Add New Tag</h1>

<form method="post" action="/tags/new">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">

    {% for post in posts %}
    <div style="display: block">
    <input type="checkbox" value="{{post.id}}" name="posts" id="post_{{post_id}}">
    <label for="post_{{post.id}}">{{post.title}}</label>
    </div>
    {% endfor%}

    <a href="/tags" class="btn btn-outline-danger">CANCEL</a>
    <button type="submit" class="btn btn-outline-info">ADD</button>
</form>
{% endblock %}