.custom-button{
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px;
    font-size: 15px;
    background-color: #555;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0);

    &:hover{
        background-color: #fff;
        color: #555;
        border: 1px solid #555;
    }
    &:disabled{
        margin-top: 10px;
        border: 1px solid #fff;
        color: #555;
        background-color: #fff;
        display: inline-block;
        cursor: not-allowed !important;
    }
}