*{
  margin: 0;
  padding: 0;
}
html, body {
  background: linear-gradient(90deg,rgb(41, 83, 36),rgb(14, 148, 81),rgb(44, 104, 145));
  font-size: 1.5rem;
  font-family: 'Helvetica', sans-serif;
  height: 100%;
}
