{% extends 'base.html' %}
{% block title %}Create New User{% endblock %}
{% block content %}
<h2>Create a user</h2>
<form method="POST">
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" name="first_name" placeholder="First name">
    
    <label for="last_name">Last Name</label>
    <input type="text" id="last_name" name="last_name" placeholder="Last name">

    <label for="img_url">Image URL</label>
    <input type="text" id="img_url" name="img_url" placeholder="User profile image url">
    <a href="/users" class="btn btn-outline-danger">Cancel</a>
    <button type="submit" class="btn btn-outline-info">ADD</button>
</form>
{% endblock %}