/* game board table */
#board{
  position: relative;
  overflow: hidden;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 5px #A67C61;
  -webkit-box-shadow: 5px 5px 5px 0px #4A371C, inset 4px 4px 15px 0px #000000, -11px 10px 19px 6px rgba(0,0,0,0); 
box-shadow: 5px 5px 5px 0px #4A371C, inset 4px 4px 15px 0px #000000, -11px 10px 19px 6px rgba(0,0,0,0);
}
#board tr:last-of-type{
  border-bottom: solid 20px #A67C61;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  position: relative;
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  z-index: -1;
	animation: slidein;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes slidein {
	from {
    top: -350px;
  }

  to {
    top: 0;
  }
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1{
  background-color: #A31925;
  -webkit-box-shadow: 0px 0px 0px 5px #A31925, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #8819a3, -50px -50px 0px -30px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 5px #A31925, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #8819a3, -50px -50px 0px -30px rgba(0,0,0,0);
}
.p2{
  background-color: #2519a3;
  -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, -50px -50px 0px -30px rgba(0,0,0,0); 
  box-shadow: 0px 0px 0px 5px #2519a3, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #8819a3, -50px -50px 0px -30px rgba(0,0,0,0);
}
/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 3px lightgray;
  box-shadow: none;
  background-color: #fff;
}

#column-top td:hover {
  background-color: gold;
}
#column-top td:active {
  background-color: gold;
  border-radius: 50%;
}
p, h1, h3{
  text-align: center;
}
h1{
  font-weight: 200;
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
}

table{
  margin: 40px auto 0;
  border-collapse: collapse;
}

h3{
  margin: 0 auto;
  width: 100px;
  line-height: 100px;
  height: 100px;
  color: #fff;
  background-color: #A31925;
  -webkit-box-shadow: 0px 0px 0px 15px #A31925, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #8819a3, -50px -50px 0px -30px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 15px #A31925, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #8819a3, -50px -50px 0px -30px rgba(0,0,0,0);
  border-radius: 50%;
}
.p2bg{
  background-color: #2519a3;
  -webkit-box-shadow: 0px 0px 0px 15px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, -50px -50px 0px -30px rgba(0,0,0,0); 
box-shadow: 0px 0px 0px 15px #2519a3, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #8819a3, -50px -50px 0px -30px rgba(0,0,0,0);
}
a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #A67C61;
  padding: 15px 25px;
  margin-bottom: 0 auto;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px 0px #4A371C; 
  box-shadow: 5px 5px 5px 0px #4A371C;
}
a:active{
  padding: 14px 24px;
}
